# Minecraft Forge / Gradle
/build/
/out/
/run/
/.gradle/
/cache/
/logs/
/*.log

# IDEs
/.idea/
/*.iml
/.vscode/

# Eclipse specific
bin/
.settings/
.classpath
.project

# IntelliJ IDEA specific
*.ipr
*.iws

# Gradle Wrapper
gradle-wrapper.jar
gradle-wrapper.properties

# OS files
.DS_Store
Thumbs.db

# Forge MDK files to ignore
forge*changelog.txt